<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://www.tornadoweb.org/en/stable/">
            <img src="https://www.cis-openscraper.com/static/images/stack/tornado-logo.png?v=d04a24658720d1e46b4a30ba24d73a5e">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
</nav>